<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./icons/python.png" type="image/x-icon">
        <title>Portfolio - Austen Myers</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>

    <body id="body">
        <div id="app">
            <header id="header">
                <h1 id="title">--title--</h1>
                <h2 id="sub-title">--sub_title--</h2>
            </header>
            <nav id="navbar">
                <h3 v-for="page in pages" :id="'nav-link-' + page.id" class="nav-link" @click="renderPage(page)">--page.title--</h3>
            </nav>
            <main v-if="active_page.sections" id="page">
                <nav id="page-nav">
                    <h4 v-for="section in active_page.sections" :id="'page-nav-' + section.label" class="nav-link section-nav" @click="renderSection(section)">--section.title--</h4>
                </nav>
                <div id="page-content">
                    <h3 id="section-title">--active_section.title--</h3>
                    <p id="section-content">--active_section.content--</p>
                </div>
            </main>
        </div>
    </body>
    <script src="./static/assets/scripts/vue.js"></script>
    <script type="module" src="./static/app.js"></script>

</html>
