<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./static/assets/icons/python.png" type="image/x-icon">
        <title>Portfolio - Austen Myers</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>

    <body id="body">
        <div id="app">
            <header id="header">
                <div id="titles">
                    <h1 id="title">--title--</h1>
                    <h2 id="sub-title">--sub_title--</h2>
                </div>
                <nav id="header-nav">
                    <a v-for="link in links" :href="link.url" target="_blank" v-html="link.icon" class="nav-link header-link">
                    </a>
                </nav>
            </header>
            <nav id="navbar">
                <h3 v-for="page in pages" :id="'nav-link-' + page.id" class="nav-link" @click="renderPage(page)" v-html="page.label"></h3>
            </nav>
            <main id="page" v-if="active_page">
                <nav id="page-nav" v-if="active_page.count > 0">
                    <h4 v-for="section in active_page.sections" :id="'page-nav-' + section.id" class="nav-link section-nav" @click="renderSection(section)">--section.title--</h4>
                </nav>
                <div id="page-content">
                    <h3 id="section-title">--active_section.title--</h3>
                    <p id="section-content" v-for="paragraph in active_section.paragraphs">--paragraph.content--</p>
                </div>
            </main>
        </div>
    </body>
    <script src="./static/assets/scripts/vue.js"></script>
    <script type="module" src="./static/app.js"></script>

</html>
