@import './style/reset.css';
@import './style/spacing.css';
@import './style/sizing.css';
@import './style/theme.css';

* {
    border-radius: 5px;
}

body {
    background-color: var(--espresso);
    color: var(--milk);
    font-family: var(--ubuntu);
}

nav {
    display: flex;
    justify-content: space-around;
    border-top: var(--border-thin);
    border-bottom: var(--border-thin);
}

main {
    display: flex;
    text-align: center;
}

main>nav {
    flex-direction: column;
    text-align: end;
}

.nav-link {
    color: var(--forest);
    cursor: pointer;
}