body {
    margin: 5%;
}

header {
    margin: 2%;
}

nav {
    margin: 3%;
}

h1,
h2,
h3 {
    margin: 1% 0;
    padding: 2%;
}

main>nav {
    width: 30%;
}

main>.content {
    margin: 2%;
    width: 70%;
}

p {
    margin-top: 3%;
}

main>nav>.nav-link {
    margin: 1%;
    padding: 2%;
}