@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

:root {
    --cocoa: #352727;
    --mocha: #251d1d;
    --espresso: #181515;
    --milk: #8b6969;
    --froth: #5c4646;
    --forest: #327730;
    --lava: #a73729;
    --ocean: #2a5e8f;
    --wave: #4e7fad;
    --nunito: "Nunito", sans-serif;
    --ubuntu: "Ubuntu", sans-serif;
    --border-thin: 1px solid var(--froth);
    --border-thick: 2px solid var(--froth);
    --border-xthick: 3px solid var(--froth);
}