#app {
    max-width: 750px;
    svg {
        width: 28px;
        height: 28px;
    }
    .load-screen {
        .message {
            font-size: 42px;
        }

        .timer {
            font-size: 24px;
        }
    }
    header {
        .titles {
            width: 90%;
            h1.title {
                font-size: 38px;
            }

            h2.title {
                font-size: 28px;
                width: 57%;
            }
        }
    }

    nav.chapters {
        font-size: 20px;
    }
    section.chapter {
        .title {
            font-size: 32px;
            width: 80%;
        }
        nav.stories {
            width: 20%;
            font-size: 18px;
            height: fit-content;
        }

        div.story {
            width: 60%;

            .title {
                font-size: 28px;
            }
            .content {
                width: 85%;
            }
        }
    }
}
